@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
	--blue-dark: #111827;
	--blue-minidark: #1b253bfd;

	--dark-pink: #eee3e3;

	--soft-blue: #e3ffe6;
	--sky-blue: #eff6ff;
	--pastel-blue: #edf2fb;
	--soft-pink: #f4e8e8;

	--light-blue: #f8fafc;
	--light-yellow: #f4f2df;
	--light-green: #1ccf5e;
}
@layer base {
	body {
		@apply font-[Roboto];
	}

	li a {
		@apply relative py-2 px-4 hover:bg-slate-400/20 rounded-full;
	}
	input {
		color: black;
	}

	::-webkit-scrollbar {
		width: 5px;
	}
	::-webkit-scrollbar-track {
		background-color: var(--pastel-blue);
	}
	::-webkit-scrollbar-thumb {
		background: var(--blue-dark);
	}
	button {
		user-select: none;
	}

	.slick-slide {
		padding: 0 10px;
		display: flex !important;
		justify-content: center;
		align-items: center;
		mix-blend-mode: color-burn;
		position: relative;
	}

	.slick-list {
		margin: 0px;
	}

	.slick-slide:hover .actionsBtn {
		opacity: 1;

		animation: btnanni 0.3s ease-in-out forwards alternate;
	}

	.actionsBtn {
		opacity: 0;
		position: absolute !important;
		z-index: 100 !important;
	}

	.loader {
		position: relative;
		width: 75px;
		height: 100px;
	}

	.loader__bar {
		position: absolute;
		bottom: 0;
		width: 10px;
		height: 50%;
		background: rgb(0, 0, 0);
		transform-origin: center bottom;
		box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	}

	.loader__bar:nth-child(1) {
		left: 0px;
		transform: scale(1, 0.2);
		-webkit-animation: barUp1 4s infinite;
		animation: barUp1 4s infinite;
	}

	.loader__bar:nth-child(2) {
		left: 15px;
		transform: scale(1, 0.4);
		-webkit-animation: barUp2 4s infinite;
		animation: barUp2 4s infinite;
	}

	.loader__bar:nth-child(3) {
		left: 30px;
		transform: scale(1, 0.6);
		-webkit-animation: barUp3 4s infinite;
		animation: barUp3 4s infinite;
	}

	.loader__bar:nth-child(4) {
		left: 45px;
		transform: scale(1, 0.8);
		-webkit-animation: barUp4 4s infinite;
		animation: barUp4 4s infinite;
	}

	.loader__bar:nth-child(5) {
		left: 60px;
		transform: scale(1, 1);
		-webkit-animation: barUp5 4s infinite;
		animation: barUp5 4s infinite;
	}

	.loader__ball {
		position: absolute;
		bottom: 10px;
		left: 0;
		width: 10px;
		height: 10px;
		background: rgb(44, 143, 255);
		border-radius: 50%;
		-webkit-animation: ball624 4s infinite;
		animation: ball624 4s infinite;
	}

	.toast-position {
		top: 70px !important;
		flex-direction: row-reverse !important;
	}
	.accNav li {
		position: relative;
	}
	.accNav li::before {
		content: "";
		width: 0%;
		height: 3px;
		background: rgb(63, 210, 230);

		position: absolute;
		bottom: -28px;
	}
	.accNav li:hover > li::before {
		display: block !important;
		width: 100% !important;
	}

	@media (max-width: 500px) {
		.toast-position {
			width: 60% !important;
			margin: auto;
			left: 40% !important;
		}
	}
	.inputfile {
		color: transparent;
		display: block;
		max-width: 130px;
		overflow: hidden;
	}
	.inputfile::-webkit-file-upload-button {
		display: none;
	}

	.inputfile::before {
		content: "Choose Photo";
		font-size: 15px;
		font-weight: 700;
		background-color: #10b1e2;

		padding: 10px;
		color: white;
		text-align: center;
		border-radius: 10px;

		margin-top: 10px;
		cursor: pointer;

		display: block;
	}
	.inputfile:hover .inputfile::before {
		opacity: 0.9;
	}
	.productColor {
	}
	.productColor::before {
		content: "";
		width: 50px;
		height: 50px;
		background-color: black;
		border-radius: 50%;
	}
}

@keyframes ball624 {
	0% {
		transform: translate(0, 0);
	}

	5% {
		transform: translate(8px, -14px);
	}

	10% {
		transform: translate(15px, -10px);
	}

	17% {
		transform: translate(23px, -24px);
	}

	20% {
		transform: translate(30px, -20px);
	}

	27% {
		transform: translate(38px, -34px);
	}

	30% {
		transform: translate(45px, -30px);
	}

	37% {
		transform: translate(53px, -44px);
	}

	40% {
		transform: translate(60px, -40px);
	}

	50% {
		transform: translate(60px, 0);
	}

	57% {
		transform: translate(53px, -14px);
	}

	60% {
		transform: translate(45px, -10px);
	}

	67% {
		transform: translate(37px, -24px);
	}

	70% {
		transform: translate(30px, -20px);
	}

	77% {
		transform: translate(22px, -34px);
	}

	80% {
		transform: translate(15px, -30px);
	}

	87% {
		transform: translate(7px, -44px);
	}

	90% {
		transform: translate(0, -40px);
	}

	100% {
		transform: translate(0, 0);
	}
}

@-webkit-keyframes barUp1 {
	0% {
		transform: scale(1, 0.2);
	}

	40% {
		transform: scale(1, 0.2);
	}

	50% {
		transform: scale(1, 1);
	}

	90% {
		transform: scale(1, 1);
	}

	100% {
		transform: scale(1, 0.2);
	}
}

@keyframes barUp1 {
	0% {
		transform: scale(1, 0.2);
	}

	40% {
		transform: scale(1, 0.2);
	}

	50% {
		transform: scale(1, 1);
	}

	90% {
		transform: scale(1, 1);
	}

	100% {
		transform: scale(1, 0.2);
	}
}

@-webkit-keyframes barUp2 {
	0% {
		transform: scale(1, 0.4);
	}

	40% {
		transform: scale(1, 0.4);
	}

	50% {
		transform: scale(1, 0.8);
	}

	90% {
		transform: scale(1, 0.8);
	}

	100% {
		transform: scale(1, 0.4);
	}
}

@keyframes barUp2 {
	0% {
		transform: scale(1, 0.4);
	}

	40% {
		transform: scale(1, 0.4);
	}

	50% {
		transform: scale(1, 0.8);
	}

	90% {
		transform: scale(1, 0.8);
	}

	100% {
		transform: scale(1, 0.4);
	}
}

@-webkit-keyframes barUp3 {
	0% {
		transform: scale(1, 0.6);
	}

	100% {
		transform: scale(1, 0.6);
	}
}

@keyframes barUp3 {
	0% {
		transform: scale(1, 0.6);
	}

	100% {
		transform: scale(1, 0.6);
	}
}

@-webkit-keyframes barUp4 {
	0% {
		transform: scale(1, 0.8);
	}

	40% {
		transform: scale(1, 0.8);
	}

	50% {
		transform: scale(1, 0.4);
	}

	90% {
		transform: scale(1, 0.4);
	}

	100% {
		transform: scale(1, 0.8);
	}
}

@keyframes barUp4 {
	0% {
		transform: scale(1, 0.8);
	}

	40% {
		transform: scale(1, 0.8);
	}

	50% {
		transform: scale(1, 0.4);
	}

	90% {
		transform: scale(1, 0.4);
	}

	100% {
		transform: scale(1, 0.8);
	}
}

@-webkit-keyframes barUp5 {
	0% {
		transform: scale(1, 1);
	}

	40% {
		transform: scale(1, 1);
	}

	50% {
		transform: scale(1, 0.2);
	}

	90% {
		transform: scale(1, 0.2);
	}

	100% {
		transform: scale(1, 1);
	}
}

@keyframes barUp5 {
	0% {
		transform: scale(1, 1);
	}

	40% {
		transform: scale(1, 1);
	}

	50% {
		transform: scale(1, 0.2);
	}

	90% {
		transform: scale(1, 0.2);
	}

	100% {
		transform: scale(1, 1);
	}
}

@keyframes btnanni {
	0% {
		opacity: 0;
		transform: translateY(70px);
	}

	50% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(15px);
	}
}
